.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 10px; /* Espaço entre os quadrados */
    padding: 10px;
  }
  
  .grid-item {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Para manter um quadrado */
  }
  
  .pokemon-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .pokemon-card h2 {
    margin: 0;
    font-size: 18px;
    text-transform: capitalize;
  }
  
  .pokemon-card p {
    margin: 5px 0;
    font-size: 14px;
  }
  