<!-- 
  <ul>
    <li *ngFor="let pokemon of pokemons">
      <label>
        <h2>#{{ pokemon.id }} - {{ pokemon.name}}</h2>
        <p>HP: {{ pokemon.stats.hp }}</p>
        <p>Attack: {{ pokemon.stats.attack }}</p>
        <p>Defense: {{ pokemon.stats.defense }}</p>
        <p>Special Attack: {{ pokemon.stats.specialAttack }}</p>
        <p>Special Defense: {{ pokemon.stats.specialDefense }}</p>
        <p>Speed: {{ pokemon.stats.speed }}</p>
      </label>
    </li>
  </ul> -->

  <!-- <div class="grid-container">
    <div class="grid-item" *ngFor="let pokemon of pokemons">
      <div class="pokemon-card" [ngStyle]="{'background-image': 'url(' + pokemon.image + ')'}">
        <h2>#{{ pokemon.id }} - {{ pokemon.name | uppercase }}</h2>
        <p *ngFor="let type of pokemon.types">{{ type | uppercase }}</p>
      </div>
    </div>
  </div> -->
  
  <ion-content>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let pokemon of pokemons">
        <div class="pokemon-card" [ngStyle]="{'background-image': 'url(' + pokemon.image + ')'}">
          <h2>#{{ pokemon.id }} - {{ pokemon.name | uppercase }}</h2>
          <p *ngFor="let type of pokemon.types">{{ type | uppercase }}</p>
        </div>
      </div>
    </div>
  </ion-content>
  

